.title-image {
  width: 40%;
}

svg {
  width: 75px;
}

.features-img {
  width: 25%;
}

.benefits-img {
  width: 50px;
  float: left;
}

.footer-logo {
  width: 50px;
  float: left;
}

.navbar-logo {
  width: 15%;
  float: left;
}

/* #navbar {
  position: fixed;
  top: 0%;
} */
